includes:
    - phpstan-baseline.neon
parameters:
    bootstrapFiles:
        - phpstan_autoloader.php
    fileExtensions:
        - php
    universalObjectCratesClasses:
        - Stripe\StripeObject
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - *.tpl.php
        - *.min.js
        - */Modules/Media/Files/*
        - */omsSetup/*
        - */demoSetup/*
        - */privateSetup/*
        - */test/*
        - */tests/*
        - */Sandbox/*
        - */Tools/*
        - */Logs/*
        - */MainRepository/*
        - *Test.php
        - *Routes.php
        - *Hooks.php
        - */vendor/*
        - */Demo/*
        - */Build/*
        - */Cache/*
        - */Resources/*
        - */Libraries/*
        - */Web/*
        - */Routes/*
        - */Hooks/*
        - */node_modules/*
        - *ObjLoader.js
        - */Socket/*
        - */DataStorage/Database/*
        - */Auth/OAuth2/*
        - */Message/Mail/*
        - */Install/Application/*
        - */Accounting/*
        - */JobScheduling/*
        - */Rating/*
        - */Parser/Presentation/*
        - */Parser/Document/*
        - */Parser/Spreadsheet/*
        - *BayesianPersonalizedRanking.php
        - *DBSCAN.php
        - *MeanShift.php
        - *Datamatrix.php
        - *QR.php
    ignoreErrors:
        - '#^Call to an undefined method phpOMS\\Module\\ModuleAbstract::[.]*#'
        - '#expects phpOMS\\Algorithm\\PathFinding\\JumpPointNode\|null, phpOMS\\Algorithm\\PathFinding\\Node\|null given#'
        - '#should return array<phpOMS\\Algorithm\\PathFinding\\Node> but returns array<int, phpOMS\\Algorithm\\PathFinding\\Node\|null#'
        - '#.*Cannot cast mixed to.*#'
        - '#.*Instantiated class .*\\WorkflowInstance.*#'
        - '#.*Instantiated class .*\\WorkflowController.*#'
        - '#.*class Mpdf\\.*#'
        - '#.*unknown class .*Stripe\\.*#'
        - '#.*Instantiated class .*Stripe\\.*#'
        - '#.*unknown class .*PhpOffice\\.*#'
        - '#.*Instantiated class .*PhpOffice\\.*#'
        - '#[.]*PhpOffice\\PhpSpreadsheet\\[.]*#'
        - '#.*MODEL is not covariant with type class-string.*#'
        - '#.*Access to an undefined property Default.*#'
        -
          message: '#.*Constant PDF_.*#'
          path: *pdf.php
        -
          message: '#.*DefaultPdf.*#'
          path: *pdf.php
        -
          message: '#.*Cannot call method setId\(\) on mixed.*#'
          path: *View.php
        -
          message: '#PHPDoc tag @return with type object is not subtype of native type phpOMS.*#'
          path: *Module/ModuleManager.php
        -
          message: '#.*continuousComparator\(\) is unused.*#'
          path: *Algorithm/Knapsack/Continuous.php
        -
          message: '#.*unknown class Modules\\Workflow\\Controller\\WorkflowInstance.*#'
          path: *Admin/Install/Workflows*
        -
          message: '#.*undefined method object::getId.*#'
          path: *TableView.php*
        -
          message: '#.*Cannot access property .* on mixed.*#'
          path: *View.php*
        -
          message: '#.*of method TCPDF::setHeaderData\(\) expects string.*#'
          path: *bill.pdf.php*