

parameters:
	ignoreErrors:
		-
			message: "#^Constructor of class Install\\\\ConsoleApplication has an unused parameter \\$arg\\.$#"
			count: 1
			path: Install/ConsoleApplication.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Message\\\\Console\\\\ConsoleRequest\\:\\:getRouteVerb\\(\\)\\.$#"
			count: 1
			path: Install/ConsoleApplication.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Router\\\\RouterInterface\\:\\:add\\(\\)\\.$#"
			count: 2
			path: Install/ConsoleApplication.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Message\\\\HeaderAbstract\\:\\:push\\(\\)\\.$#"
			count: 1
			path: Install/WebApplication.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Router\\\\RouterInterface\\:\\:add\\(\\)\\.$#"
			count: 2
			path: Install/WebApplication.php

		-
			message: "#^Access to an undefined property Modules\\\\ClientManagement\\\\Models\\\\Client\\:\\:\\$taxId\\.$#"
			count: 2
			path: Modules/ClientManagement/Models/Client.php

		-
			message: "#^Access to an undefined property Modules\\\\ClientManagement\\\\Models\\\\Client\\:\\:\\$defaultTnvoiceAddress\\.$#"
			count: 1
			path: Modules/ClientManagement/Models/Client.php

		-
			message: "#^Instantiated class Modules\\\\Accounting\\\\Models\\\\CostCenter not found\\.$#"
			count: 1
			path: Modules/Exchange/Interfaces/GSD/Importer.php

		-
			message: "#^Parameter \\#1 \\$con of static method phpOMS\\\\DataStorage\\\\Database\\\\DataMapperAbstract\\:\\:setConnection\\(\\) expects phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\ConnectionAbstract, phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\ConnectionInterface given\\.$#"
			count: 2
			path: Modules/Exchange/Interfaces/GSD/Importer.php

		-
			message: "#^Call to method setCostCenter\\(\\) on an unknown class Modules\\\\Accounting\\\\Models\\\\CostCenter\\.$#"
			count: 1
			path: Modules/Exchange/Interfaces/GSD/Importer.php

		-
			message: "#^Call to method setCostCenterName\\(\\) on an unknown class Modules\\\\Accounting\\\\Models\\\\CostCenter\\.$#"
			count: 1
			path: Modules/Exchange/Interfaces/GSD/Importer.php

		-
			message: "#^Call to static method create\\(\\) on an unknown class Modules\\\\Accounting\\\\Models\\\\CostCenterMapper\\.$#"
			count: 1
			path: Modules/Exchange/Interfaces/GSD/Importer.php

		-
			message: "#^Instantiated class Modules\\\\Accounting\\\\Models\\\\CostObject not found\\.$#"
			count: 1
			path: Modules/Exchange/Interfaces/GSD/Importer.php

		-
			message: "#^Call to method setCostObject\\(\\) on an unknown class Modules\\\\Accounting\\\\Models\\\\CostObject\\.$#"
			count: 1
			path: Modules/Exchange/Interfaces/GSD/Importer.php

		-
			message: "#^Call to method setCostObjectName\\(\\) on an unknown class Modules\\\\Accounting\\\\Models\\\\CostObject\\.$#"
			count: 1
			path: Modules/Exchange/Interfaces/GSD/Importer.php

		-
			message: "#^Call to static method create\\(\\) on an unknown class Modules\\\\Accounting\\\\Models\\\\CostObjectMapper\\.$#"
			count: 1
			path: Modules/Exchange/Interfaces/GSD/Importer.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Message\\\\HeaderAbstract\\:\\:setDownloadable\\(\\)\\.$#"
			count: 1
			path: Modules/Helper/Controller/ApiController.php

		-
			message: "#^Property Modules\\\\HumanResourceManagement\\\\Models\\\\Employee\\:\\:\\$image has unknown class Modules\\\\HumanResourceManagement\\\\Models\\\\Media as its type\\.$#"
			count: 1
			path: Modules/HumanResourceManagement/Models/Employee.php

		-
			message: "#^Return typehint of method Modules\\\\HumanResourceManagement\\\\Models\\\\Employee\\:\\:getImage\\(\\) has invalid type Modules\\\\HumanResourceManagement\\\\Models\\\\Media\\.$#"
			count: 1
			path: Modules/HumanResourceManagement/Models/Employee.php

		-
			message: "#^Method Modules\\\\HumanResourceManagement\\\\Models\\\\Employee\\:\\:getImage\\(\\) should return int\\|Modules\\\\HumanResourceManagement\\\\Models\\\\Media but returns int\\|Modules\\\\HumanResourceManagement\\\\Models\\\\Media\\|Modules\\\\Media\\\\Models\\\\NullMedia\\.$#"
			count: 1
			path: Modules/HumanResourceManagement/Models/Employee.php

		-
			message: "#^Parameter \\$image of method Modules\\\\HumanResourceManagement\\\\Models\\\\Employee\\:\\:setImage\\(\\) has invalid typehint type Modules\\\\HumanResourceManagement\\\\Models\\\\Media\\.$#"
			count: 1
			path: Modules/HumanResourceManagement/Models/Employee.php

		-
			message: "#^Return typehint of method Modules\\\\HumanResourceManagement\\\\Models\\\\Employee\\:\\:getNewestEducationHistory\\(\\) has invalid type Modules\\\\HumanResourceManagement\\\\Models\\\\EmployeeEducationHistory\\.$#"
			count: 2
			path: Modules/HumanResourceManagement/Models/Employee.php

		-
			message: "#^Instantiated class Modules\\\\HumanResourceManagement\\\\Models\\\\NullEmployeeEducationHistory not found\\.$#"
			count: 1
			path: Modules/HumanResourceManagement/Models/Employee.php

		-
			message: "#^Return typehint of method Modules\\\\HumanResourceManagement\\\\Models\\\\Employee\\:\\:getNewestWorkHistory\\(\\) has invalid type Modules\\\\HumanResourceManagement\\\\Models\\\\EmployeeWorkHistory\\.$#"
			count: 2
			path: Modules/HumanResourceManagement/Models/Employee.php

		-
			message: "#^Instantiated class Modules\\\\HumanResourceManagement\\\\Models\\\\NullEmployeeWorkHistory not found\\.$#"
			count: 1
			path: Modules/HumanResourceManagement/Models/Employee.php

		-
			message: "#^Property Modules\\\\HumanResourceManagement\\\\Models\\\\StaffList\\:\\:\\$dbPool has unknown class phpOMS\\\\DataStorage\\\\Database\\\\Pool as its type\\.$#"
			count: 1
			path: Modules/HumanResourceManagement/Models/StaffList.php

		-
			message: "#^Property Modules\\\\HumanResourceManagement\\\\Models\\\\StaffList\\:\\:\\$dbPool \\(phpOMS\\\\DataStorage\\\\Database\\\\Pool\\) does not accept phpOMS\\\\DataStorage\\\\Database\\\\DatabasePool\\.$#"
			count: 1
			path: Modules/HumanResourceManagement/Models/StaffList.php

		-
			message: "#^Call to method get\\(\\) on an unknown class phpOMS\\\\DataStorage\\\\Database\\\\Pool\\.$#"
			count: 6
			path: Modules/HumanResourceManagement/Models/StaffList.php

		-
			message: "#^Parameter \\#1 \\$employee of class Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Session constructor expects int\\|Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Employee, Modules\\\\HumanResourceManagement\\\\Models\\\\Employee given\\.$#"
			count: 1
			path: Modules/HumanResourceTimeRecording/Controller/ApiController.php

		-
			message: "#^Parameter \\#1 \\$session of class Modules\\\\HumanResourceTimeRecording\\\\Models\\\\SessionElement constructor expects int, Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Session given\\.$#"
			count: 2
			path: Modules/HumanResourceTimeRecording/Controller/ApiController.php

		-
			message: "#^Cannot call method getId\\(\\) on int\\|Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Session\\.$#"
			count: 1
			path: Modules/HumanResourceTimeRecording/Controller/ApiController.php

		-
			message: "#^Call to method getProfile\\(\\) on an unknown class Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Employee\\.$#"
			count: 2
			path: Modules/HumanResourceTimeRecording/Controller/ApiController.php

		-
			message: "#^Property Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Session\\:\\:\\$employee has unknown class Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Employee as its type\\.$#"
			count: 1
			path: Modules/HumanResourceTimeRecording/Models/Session.php

		-
			message: "#^Parameter \\$employee of method Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Session\\:\\:__construct\\(\\) has invalid typehint type Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Employee\\.$#"
			count: 1
			path: Modules/HumanResourceTimeRecording/Models/Session.php

		-
			message: "#^Return typehint of method Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Session\\:\\:getEmployee\\(\\) has invalid type Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Employee\\.$#"
			count: 1
			path: Modules/HumanResourceTimeRecording/Models/Session.php

		-
			message: "#^Cannot call method getStatus\\(\\) on int\\|Modules\\\\HumanResourceTimeRecording\\\\Models\\\\SessionElement\\.$#"
			count: 2
			path: Modules/HumanResourceTimeRecording/Models/Session.php

		-
			message: "#^Cannot call method getDatetime\\(\\) on int\\|Modules\\\\HumanResourceTimeRecording\\\\Models\\\\SessionElement\\.$#"
			count: 2
			path: Modules/HumanResourceTimeRecording/Models/Session.php

		-
			message: "#^Property Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Session\\:\\:\\$busy \\(int\\) does not accept float\\|int\\.$#"
			count: 1
			path: Modules/HumanResourceTimeRecording/Models/Session.php

		-
			message: "#^Method Modules\\\\HumanResourceTimeRecording\\\\Models\\\\Session\\:\\:getBreak\\(\\) should return int but returns float\\|int\\.$#"
			count: 1
			path: Modules/HumanResourceTimeRecording/Models/Session.php

		-
			message: "#^PHPDoc tag @return with type int\\|phpOMS\\\\Account\\\\Account is not subtype of native type int\\.$#"
			count: 1
			path: Modules/Kanban/Models/KanbanCardComment.php

		-
			message: "#^PHPDoc tag @return with type int\\|phpOMS\\\\Account\\\\Account is not subtype of native type int\\.$#"
			count: 1
			path: Modules/Knowledgebase/Models/WikiDoc.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Message\\\\RequestAbstract\\:\\:getHash\\(\\)\\.$#"
			count: 1
			path: Modules/Navigation/Models/Navigation.php

		-
			message: "#^Cannot call method where\\(\\) on array\\.$#"
			count: 2
			path: Modules/News/Controller/ApiController.php

		-
			message: "#^Static method phpOMS\\\\DataStorage\\\\Database\\\\DataMapperAbstract\\:\\:find\\(\\) invoked with 4 parameters, 1 required\\.$#"
			count: 2
			path: Modules/News/Controller/ApiController.php

		-
			message: "#^Property Modules\\\\ProjectManagement\\\\Models\\\\Project\\:\\:\\$tasks has unknown class Modules\\\\ProjectManagement\\\\Models\\\\Tasks as its type\\.$#"
			count: 1
			path: Modules/ProjectManagement/Models/Project.php

		-
			message: "#^PHPDoc tag @param for parameter \\$task with type int\\|Modules\\\\Tasks\\\\Models\\\\Task is not subtype of native type Modules\\\\Tasks\\\\Models\\\\Task\\.$#"
			count: 1
			path: Modules/ProjectManagement/Models/Project.php

		-
			message: "#^Array \\(array\\<Modules\\\\ProjectManagement\\\\Models\\\\Tasks\\>\\) does not accept Modules\\\\Tasks\\\\Models\\\\Task\\.$#"
			count: 2
			path: Modules/ProjectManagement/Models/Project.php

		-
			message: "#^Method Modules\\\\ProjectManagement\\\\Models\\\\Project\\:\\:getTask\\(\\) should return Modules\\\\Tasks\\\\Models\\\\Task but returns Modules\\\\ProjectManagement\\\\Models\\\\Tasks\\|Modules\\\\Tasks\\\\Models\\\\Task\\.$#"
			count: 1
			path: Modules/ProjectManagement/Models/Project.php

		-
			message: "#^Method Modules\\\\ProjectManagement\\\\Models\\\\Project\\:\\:getTasks\\(\\) should return array\\<Modules\\\\Tasks\\\\Models\\\\Task\\> but returns array\\<Modules\\\\ProjectManagement\\\\Models\\\\Tasks\\>\\.$#"
			count: 1
			path: Modules/ProjectManagement/Models/Project.php

		-
			message: "#^Method Modules\\\\ProjectManagement\\\\Models\\\\Project\\:\\:getCalendar\\(\\) should return Modules\\\\Calendar\\\\Models\\\\Calendar but returns int\\|Modules\\\\Calendar\\\\Models\\\\Calendar\\.$#"
			count: 1
			path: Modules/ProjectManagement/Models/Project.php

		-
			message: "#^Cannot call method setName\\(\\) on int\\|Modules\\\\Calendar\\\\Models\\\\Calendar\\.$#"
			count: 1
			path: Modules/ProjectManagement/Models/Project.php

		-
			message: "#^Call to static method create\\(\\) on an unknown class Modules\\\\QA\\\\Controller\\\\QAAnswerMapper\\.$#"
			count: 1
			path: Modules/QA/Controller/ApiController.php

		-
			message: "#^Call to an undefined method Modules\\\\QA\\\\Models\\\\QAAnswer\\:\\:setName\\(\\)\\.$#"
			count: 1
			path: Modules/QA/Controller/ApiController.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Message\\\\RequestAbstract\\:\\:getRouteVerb\\(\\)\\.$#"
			count: 1
			path: Modules/Search/Controller/ApiController.php

		-
			message: "#^Property Modules\\\\WarehouseManagement\\\\Models\\\\Article\\:\\:\\$creator has unknown class phpOMS\\\\Models\\\\User as its type\\.$#"
			count: 1
			path: Modules/WarehouseManagement/Models/Article.php

		-
			message: "#^Return typehint of method Modules\\\\WarehouseManagement\\\\Models\\\\Article\\:\\:getCreator\\(\\) has invalid type phpOMS\\\\Models\\\\User\\.$#"
			count: 1
			path: Modules/WarehouseManagement/Models/Article.php

		-
			message: "#^Parameter \\$creator of method Modules\\\\WarehouseManagement\\\\Models\\\\Article\\:\\:setCreator\\(\\) has invalid typehint type phpOMS\\\\Models\\\\User\\.$#"
			count: 1
			path: Modules/WarehouseManagement/Models/Article.php

		-
			message: "#^Access to an undefined property Modules\\\\WarehouseManagement\\\\Models\\\\Article\\:\\:\\$prices\\.$#"
			count: 3
			path: Modules/WarehouseManagement/Models/Article.php

		-
			message: "#^PHPDoc tag @var for property Socket\\\\Socketserver\\\\Application\\:\\:\\$type with type phpOMS\\\\Socket\\\\SocketType is incompatible with native type string\\.$#"
			count: 1
			path: Socket/Socketserver/Application.php

		-
			message: "#^Property Socket\\\\Socketserver\\\\Application\\:\\:\\$type has unknown class phpOMS\\\\Socket\\\\SocketType as its type\\.$#"
			count: 1
			path: Socket/Socketserver/Application.php

		-
			message: "#^Access to an undefined property Socket\\\\Socketserver\\\\Application\\:\\:\\$appName\\.$#"
			count: 1
			path: Socket/Socketserver/Application.php

		-
			message: "#^Class phpOMS\\\\DataStorage\\\\Cache\\\\CachePool does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: Socket/Socketserver/Application.php

		-
			message: "#^Access to an undefined property Socket\\\\Socketserver\\\\Application\\:\\:\\$socket\\.$#"
			count: 2
			path: Socket/Socketserver/Application.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Router\\\\RouterInterface\\:\\:route\\(\\)\\.$#"
			count: 1
			path: Web/Api/Application.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Message\\\\HeaderAbstract\\:\\:push\\(\\)\\.$#"
			count: 1
			path: Web/WebApplication.php

		-
			message: "#^Function setcookie invoked with 8 parameters, 1\\-7 required\\.$#"
			count: 1
			path: phpOMS/DataStorage/Cookie/CookieJar.php

		-
			message: "#^Parameter \\#1 \\$dbdata of class phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\MysqlConnection constructor expects array\\('db' \\=\\> string, 'host' \\=\\> string, 'port' \\=\\> int, 'login' \\=\\> string, 'password' \\=\\> string, 'database' \\=\\> string, 'prefix' \\=\\> string\\), array\\('db' \\=\\> string, \\?'host' \\=\\> string, \\?'port' \\=\\> int, \\?'login' \\=\\> string, \\?'password' \\=\\> string, 'database' \\=\\> string, 'prefix' \\=\\> string\\) given\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/Connection/ConnectionFactory.php

		-
			message: "#^Parameter \\#1 \\$dbdata of class phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\PostgresConnection constructor expects array\\('db' \\=\\> string, 'host' \\=\\> string, 'port' \\=\\> int, 'login' \\=\\> string, 'password' \\=\\> string, 'database' \\=\\> string, 'prefix' \\=\\> string\\), array\\('db' \\=\\> string, \\?'host' \\=\\> string, \\?'port' \\=\\> int, \\?'login' \\=\\> string, \\?'password' \\=\\> string, 'database' \\=\\> string, 'prefix' \\=\\> string\\) given\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/Connection/ConnectionFactory.php

		-
			message: "#^Parameter \\#1 \\$dbdata of class phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\SqlServerConnection constructor expects array\\('db' \\=\\> string, 'host' \\=\\> string, 'port' \\=\\> int, 'login' \\=\\> string, 'password' \\=\\> string, 'database' \\=\\> string, 'prefix' \\=\\> string\\), array\\('db' \\=\\> string, \\?'host' \\=\\> string, \\?'port' \\=\\> int, \\?'login' \\=\\> string, \\?'password' \\=\\> string, 'database' \\=\\> string, 'prefix' \\=\\> string\\) given\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/Connection/ConnectionFactory.php

		-
			message: "#^Argument of an invalid type string supplied for foreach, only iterables are supported\\.$#"
			count: 4
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^PHPDoc tag @return with type void is incompatible with native type array\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$columns of method phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Builder\\:\\:select\\(\\) expects array\\<int, mixed\\>, string given\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^Method phpOMS\\\\DataStorage\\\\Database\\\\DataMapperAbstract\\:\\:getConditionals\\(\\) with return type void returns mixed but should not return anything\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^Parameter \\#1 \\$result of static method phpOMS\\\\DataStorage\\\\Database\\\\DataMapperAbstract\\:\\:populateAbstract\\(\\) expects array, void given\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^Parameter \\#3 \\$columns of static method phpOMS\\\\DataStorage\\\\Database\\\\DataMapperAbstract\\:\\:populateAbstract\\(\\) expects array, string given\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^Result of static method phpOMS\\\\DataStorage\\\\Database\\\\DataMapperAbstract\\:\\:getConditionals\\(\\) \\(void\\) is used\\.$#"
			count: 2
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^Call to an undefined static method phpOMS\\\\DataStorage\\\\Database\\\\DataMapperAbstract\\:\\:populateConditionalsArray\\(\\)\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^Parameter \\#1 \\$result of static method phpOMS\\\\DataStorage\\\\Database\\\\DataMapperAbstract\\:\\:populateAbstractArray\\(\\) expects array, void given\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^Parameter \\#3 \\$columns of static method phpOMS\\\\DataStorage\\\\Database\\\\DataMapperAbstract\\:\\:populateAbstractArray\\(\\) expects array, string given\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/DataMapperAbstract.php

		-
			message: "#^Array \\(array\\<phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\ConnectionAbstract\\>\\) does not accept phpOMS\\\\DataStorage\\\\DataStorageConnectionInterface\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/DatabasePool.php

		-
			message: "#^Instanceof between array and phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Builder will always evaluate to false\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/Query/Builder.php

		-
			message: "#^Call to an undefined method phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Column\\:\\:getColumn\\(\\)\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/Query/Builder.php

		-
			message: "#^Parameter \\$from of method phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Grammar\\\\Grammar\\:\\:compileFromQuery\\(\\) has invalid typehint type phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Grammar\\\\From\\.$#"
			count: 2
			path: phpOMS/DataStorage/Database/Query/Grammar/Grammar.php

		-
			message: "#^Call to method toSql\\(\\) on an unknown class phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Grammar\\\\From\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/Query/Grammar/Grammar.php

		-
			message: "#^phpOMS\\\\DataStorage\\\\Database\\\\Schema\\\\Builder\\:\\:__construct\\(\\) does not call parent constructor from phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Builder\\.$#"
			count: 1
			path: phpOMS/DataStorage/Database/Schema/Builder.php

		-
			message: "#^Parameter \\#1 \\$n of static method phpOMS\\\\Math\\\\Number\\\\Numbers\\:\\:isSquare\\(\\) expects int, float\\|int given\\.$#"
			count: 2
			path: phpOMS/Math/Functions/Fibonacci.php

		-
			message: "#^Parameter \\#2 \\$offset of function array_slice expects int, float\\|int given\\.$#"
			count: 1
			path: phpOMS/Math/Statistic/MeasureOfDispersion.php

		-
			message: "#^Method phpOMS\\\\Message\\\\Mail\\\\EmailAbstract\\:\\:decode\\(\\) should return string but returns string\\|false\\.$#"
			count: 3
			path: phpOMS/Message/Mail/EmailAbstract.php

		-
			message: "#^Parameter \\#1 \\$overview of method phpOMS\\\\Message\\\\Mail\\\\Mail\\:\\:setOverview\\(\\) expects array, array\\|false given\\.$#"
			count: 1
			path: phpOMS/Message/Mail/EmailAbstract.php

		-
			message: "#^Parameter \\#1 \\$body of method phpOMS\\\\Message\\\\Mail\\\\Mail\\:\\:setBody\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: phpOMS/Message/Mail/EmailAbstract.php

		-
			message: "#^Method phpOMS\\\\Message\\\\Mail\\\\EmailAbstract\\:\\:getInboxOverview\\(\\) should return array but returns array\\|false\\.$#"
			count: 1
			path: phpOMS/Message/Mail/EmailAbstract.php

		-
			message: "#^Cannot access property \\$Nmsgs on stdClass\\|false\\.$#"
			count: 1
			path: phpOMS/Message/Mail/EmailAbstract.php

		-
			message: "#^Method phpOMS\\\\Message\\\\Mail\\\\EmailAbstract\\:\\:getMessageOverview\\(\\) should return array but returns array\\|false\\.$#"
			count: 1
			path: phpOMS/Message/Mail/EmailAbstract.php

		-
			message: "#^Method phpOMS\\\\Message\\\\Mail\\\\EmailAbstract\\:\\:countMessages\\(\\) should return int but returns int\\|false\\.$#"
			count: 1
			path: phpOMS/Message/Mail/EmailAbstract.php

		-
			message: "#^Method phpOMS\\\\Message\\\\Mail\\\\EmailAbstract\\:\\:getMessageHeader\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: phpOMS/Message/Mail/EmailAbstract.php

		-
			message: "#^Property phpOMS\\\\Message\\\\Mail\\\\Mail\\:\\:\\$overview \\(string\\) does not accept array\\.$#"
			count: 1
			path: phpOMS/Message/Mail/Mail.php

		-
			message: "#^Call to an undefined method phpOMS\\\\Message\\\\RequestAbstract\\:\\:getHash\\(\\)\\.$#"
			count: 1
			path: phpOMS/Module/ModuleManager.php

		-
			message: "#^Property phpOMS\\\\Socket\\\\Client\\\\Client\\:\\:\\$app has unknown class phpOMS\\\\Socket\\\\Client\\\\SocketApplication as its type\\.$#"
			count: 1
			path: phpOMS/Socket/Client/Client.php

		-
			message: "#^Property phpOMS\\\\Socket\\\\Client\\\\Client\\:\\:\\$app \\(phpOMS\\\\Socket\\\\Client\\\\SocketApplication\\) does not accept phpOMS\\\\ApplicationAbstract\\.$#"
			count: 1
			path: phpOMS/Socket/Client/Client.php

		-
			message: "#^Parameter \\#1 \\$router of class phpOMS\\\\Message\\\\Socket\\\\PacketManager constructor expects phpOMS\\\\Router\\\\SocketRouter, phpOMS\\\\Router\\\\RouterInterface given\\.$#"
			count: 1
			path: phpOMS/Socket/Client/Client.php

		-
			message: "#^Access to an undefined property phpOMS\\\\Socket\\\\Client\\\\Client\\:\\:\\$commands\\.$#"
			count: 1
			path: phpOMS/Socket/Client/Client.php

		-
			message: "#^Parameter \\#1 \\$router of class phpOMS\\\\Message\\\\Socket\\\\PacketManager constructor expects phpOMS\\\\Router\\\\SocketRouter, phpOMS\\\\Router\\\\RouterInterface given\\.$#"
			count: 1
			path: phpOMS/Socket/Server/Server.php

		-
			message: "#^Property phpOMS\\\\Socket\\\\SocketAbstract\\:\\:\\$sock \\(resource\\) does not accept resource\\|false\\.$#"
			count: 1
			path: phpOMS/Socket/SocketAbstract.php

		-
			message: "#^Method phpOMS\\\\System\\\\File\\\\Ftp\\\\Directory\\:\\:parseRawList\\(\\) should return array\\<string, array\\<string, int\\|string\\>\\> but returns array\\<int\\|string, array\\<string, int\\|string\\>\\>\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/Directory.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/Directory.php

		-
			message: "#^Parameter \\#3 \\$content of static method phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:put\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/Directory.php

		-
			message: "#^Parameter \\#1 \\$con of static method phpOMS\\\\System\\\\File\\\\Ftp\\\\Directory\\:\\:create\\(\\) expects resource, string given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/Directory.php

		-
			message: "#^Parameter \\#2 \\$path of static method phpOMS\\\\System\\\\File\\\\Ftp\\\\Directory\\:\\:create\\(\\) expects string, int given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/Directory.php

		-
			message: "#^Parameter \\#3 \\$permission of static method phpOMS\\\\System\\\\File\\\\Ftp\\\\Directory\\:\\:create\\(\\) expects int, true given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/Directory.php

		-
			message: "#^phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:__construct\\(\\) does not call parent constructor from phpOMS\\\\System\\\\File\\\\Ftp\\\\FileAbstract\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/File.php

		-
			message: "#^Parameter \\#2 \\$fp of function ftp_fget expects resource, resource\\|false given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/File.php

		-
			message: "#^Parameter \\#1 \\$fp of function rewind expects resource, resource\\|false given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/File.php

		-
			message: "#^Parameter \\#1 \\$source of function stream_get_contents expects resource, resource\\|false given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/File.php

		-
			message: "#^Method phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:get\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/File.php

		-
			message: "#^Call to an undefined static method phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:ftpCreate\\(\\)\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/File.php

		-
			message: "#^Parameter \\#3 \\$content of static method phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:put\\(\\) expects string, int given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Static method phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:get\\(\\) invoked with 1 parameter, 2 required\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Parameter \\#1 \\$con of static method phpOMS\\\\System\\\\File\\\\Ftp\\\\Directory\\:\\:create\\(\\) expects resource, string given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Parameter \\#2 \\$path of static method phpOMS\\\\System\\\\File\\\\Ftp\\\\Directory\\:\\:create\\(\\) expects string, int given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Parameter \\#3 \\$permission of static method phpOMS\\\\System\\\\File\\\\Ftp\\\\Directory\\:\\:create\\(\\) expects int, true given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Static method phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:create\\(\\) invoked with 1 parameter, 2 required\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Parameter \\#1 \\$con of static method phpOMS\\\\System\\\\File\\\\Ftp\\\\Directory\\:\\:list\\(\\) expects resource, string given\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Static method phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:set\\(\\) invoked with 2 parameters, 3 required\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Static method phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:append\\(\\) invoked with 2 parameters, 3 required\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Static method phpOMS\\\\System\\\\File\\\\Ftp\\\\File\\:\\:prepend\\(\\) invoked with 2 parameters, 3 required\\.$#"
			count: 1
			path: phpOMS/System/File/Ftp/FtpStorage.php

		-
			message: "#^Call to an undefined method RecursiveIteratorIterator\\|RegexIterator\\:\\:getSubPathname\\(\\)\\.$#"
			count: 1
			path: phpOMS/System/File/Local/Directory.php

		-
			message: "#^Call to an undefined method RecursiveIteratorIterator\\:\\:getSubPathname\\(\\)\\.$#"
			count: 5
			path: phpOMS/System/File/Local/Directory.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: phpOMS/System/File/Local/Directory.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: phpOMS/System/File/Storage.php

		-
			message: "#^Cannot assign offset string to string\\.$#"
			count: 2
			path: phpOMS/Utils/Parser/Markdown/Markdown.php


