parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$columns of method phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Builder\\:\\:where\\(\\) expects array\\|phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Where\\|string, string\\|null given\\.$#"
			count: 1
			path: *Modules/Admin/Models/GroupMapper.php

		-
			message: "#^Cannot access offset string on array\\<Modules\\\\Media\\\\Models\\\\Media\\>\\|Modules\\\\Media\\\\Models\\\\Media\\.$#"
			count: 4
			path: *Modules/Helper/Controller/ApiController.php

		-
			message: "#^Cannot access an offset on array\\<int, Modules\\\\Media\\\\Models\\\\Media\\>\\|Modules\\\\Media\\\\Models\\\\Media\\.$#"
			count: 1
			path: *Modules/Helper/Controller/BackendController.php

		-
			message: "#^Method Modules\\\\Workflow\\\\Templates\\\\Permission\\\\Workflow\\:\\:run\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: *Modules/Workflow/Templates/Permission/Workflow.php

		-
			message: "#^Method Modules\\\\Workflow\\\\Templates\\\\Permission\\\\Workflow\\:\\:runPending\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: *Modules/Workflow/Templates/Permission/Workflow.php

		-
			message: "#^Method Modules\\\\Workflow\\\\Templates\\\\Permission\\\\Workflow\\:\\:runRequest\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: *Modules/Workflow/Templates/Permission/Workflow.php

		-
			message: "#^Property Modules\\\\Workflow\\\\Templates\\\\Permission\\\\Workflow\\:\\:\\$id has no typehint specified\\.$#"
			count: 1
			path: *Modules/Workflow/Templates/Permission/Workflow.php

		-
			message: "#^Property Modules\\\\Workflow\\\\Templates\\\\Permission\\\\Workflow\\:\\:\\$state has no typehint specified\\.$#"
			count: 1
			path: *Modules/Workflow/Templates/Permission/Workflow.php

		-
			message: "#^Parameter \\#2 \\$callback of function usort expects callable\\(mixed, mixed\\)\\: int, array\\('self', 'continuousComparator'\\) given\\.$#"
			count: 1
			path: *phpOMS/Algorithm/Knapsack/Continuous.php

		-
			message: "#^Constructor of class phpOMS\\\\Business\\\\Marketing\\\\ArticleCorrelationAffinity has an unused parameter \\$considerQuantity\\.$#"
			count: 1
			path: *phpOMS/Business/Marketing/ArticleCorrelationAffinity.php

		-
			message: "#^Parameter \\#1 \\$dbdata of class phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\MysqlConnection constructor expects array\\('db' \\=\\> string, 'host' \\=\\> string, 'port' \\=\\> int, 'login' \\=\\> string, 'password' \\=\\> string, 'database' \\=\\> string\\), array\\('db' \\=\\> string, \\?'host' \\=\\> string, \\?'port' \\=\\> int, \\?'login' \\=\\> string, \\?'password' \\=\\> string, 'database' \\=\\> string\\) given\\.$#"
			count: 1
			path: *phpOMS/DataStorage/Database/Connection/ConnectionFactory.php

		-
			message: "#^Parameter \\#1 \\$dbdata of class phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\PostgresConnection constructor expects array\\('db' \\=\\> string, 'host' \\=\\> string, 'port' \\=\\> int, 'login' \\=\\> string, 'password' \\=\\> string, 'database' \\=\\> string\\), array\\('db' \\=\\> string, \\?'host' \\=\\> string, \\?'port' \\=\\> int, \\?'login' \\=\\> string, \\?'password' \\=\\> string, 'database' \\=\\> string\\) given\\.$#"
			count: 1
			path: *phpOMS/DataStorage/Database/Connection/ConnectionFactory.php

		-
			message: "#^Parameter \\#1 \\$dbdata of class phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\SqlServerConnection constructor expects array\\('db' \\=\\> string, 'host' \\=\\> string, 'port' \\=\\> int, 'login' \\=\\> string, 'password' \\=\\> string, 'database' \\=\\> string\\), array\\('db' \\=\\> string, \\?'host' \\=\\> string, \\?'port' \\=\\> int, \\?'login' \\=\\> string, \\?'password' \\=\\> string, 'database' \\=\\> string\\) given\\.$#"
			count: 1
			path: *phpOMS/DataStorage/Database/Connection/ConnectionFactory.php

		-
			message: "#^Array \\(array\\<phpOMS\\\\DataStorage\\\\Database\\\\Connection\\\\ConnectionAbstract\\>\\) does not accept phpOMS\\\\DataStorage\\\\DataStorageConnectionInterface\\.$#"
			count: 1
			path: *phpOMS/DataStorage/Database/DatabasePool.php

		-
			message: "#^Call to an undefined method phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Column\\:\\:getColumn\\(\\)\\.$#"
			count: 1
			path: *phpOMS/DataStorage/Database/Query/Builder.php

		-
			message: "#^Parameter \\#2 \\$operator of method phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Builder\\:\\:on\\(\\) expects array\\|string, array\\|string\\|null given\\.$#"
			count: 2
			path: *phpOMS/DataStorage/Database/Query/Builder.php

		-
			message: "#^Parameter \\#2 \\$operator of method phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Builder\\:\\:where\\(\\) expects array\\|string, array\\|string\\|null given\\.$#"
			count: 2
			path: *phpOMS/DataStorage/Database/Query/Builder.php

		-
			message: "#^Parameter \\#3 \\$values of method phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Builder\\:\\:on\\(\\) expects array\\|string, array\\|string\\|null given\\.$#"
			count: 2
			path: *phpOMS/DataStorage/Database/Query/Builder.php

		-
			message: "#^Possibly invalid array key type phpOMS\\\\DataStorage\\\\Database\\\\Query\\\\Builder\\|string\\.$#"
			count: 1
			path: *phpOMS/DataStorage/Database/Query/Builder.php

		-
			message: "#^Method phpOMS\\\\Math\\\\Geometry\\\\ConvexHull\\\\MonotoneChain\\:\\:createConvexHull\\(\\) should return array\\<int, array\\('x' \\=\\> float\\|int, 'y' \\=\\> float\\|int\\)\\> but returns array\\<int\\|string, array\\('x' \\=\\> float\\|int, 'y' \\=\\> float\\|int\\)\\>\\.$#"
			count: 1
			path: *phpOMS/Math/Geometry/ConvexHull/MonotoneChain.php

		-
			message: "#^Parameter \\#3 \\$length of function array_slice expects int\\|null, float\\|int given\\.$#"
			count: 1
			path: *phpOMS/Math/Geometry/ConvexHull/MonotoneChain.php

		-
			message: "#^Parameter \\#1 \\$matrix of method phpOMS\\\\Math\\\\Matrix\\\\Matrix\\:\\:setMatrix\\(\\) expects array\\<int, array\\<float\\|int\\>\\>, array\\<int\\|string, array\\<int, \\(float\\|int\\)\\>\\> given\\.$#"
			count: 1
			path: *phpOMS/Math/Matrix/CholeskyDecomposition.php

		-
			message: "#^Binary operation \"\\-\" between string\\|null and int results in an error\\.$#"
			count: 1
			path: *phpOMS/Math/Matrix/Matrix.php

		-
			message: "#^Method phpOMS\\\\Math\\\\Matrix\\\\Matrix\\:\\:current\\(\\) should return int but returns float\\|int\\.$#"
			count: 1
			path: *phpOMS/Math/Matrix/Matrix.php

		-
			message: "#^Method phpOMS\\\\Math\\\\Matrix\\\\Matrix\\:\\:key\\(\\) should return string but returns int\\.$#"
			count: 1
			path: *phpOMS/Math/Matrix/Matrix.php

		-
			message: "#^Parameter \\#1 \\$offset of method phpOMS\\\\Math\\\\Matrix\\\\Matrix\\:\\:offsetExists\\(\\) expects string, int given\\.$#"
			count: 1
			path: *phpOMS/Math/Matrix/Matrix.php

		-
			message: "#^Call to an undefined method DirectoryIterator\\|RecursiveIteratorIterator\\<RecursiveDirectoryIterator\\>\\|RegexIterator\\:\\:getPathname\\(\\)\\.$#"
			count: 1
			path: *phpOMS/System/File/Local/Directory.php

