includes:
    - phpstan-baseline.neon

parameters:
    fileExtensions:
        - php
    reportUnmatchedIgnoredErrors: true
    excludes_analyse:
        - *.tpl.php
        - */tests/*
        - */test/*
        - *Test.php
        - *Routes.php
        - *Hooks.php
        - *ObjLoader.js
        - */vendor/*
        - *vendor*
        - */Demo/*
        - */Build/*
        - */Cache/*
        - */Docs/*
        - */Documentation/*
        - */Resources/*
        - *Resources*
        - */Routes/*
        - */Hooks/*
        - */node_modules/*
        - */Modules/Shop/Admin/Install/Application/*